/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="blog.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-blog-interno.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- conteudo --- */
#conteudo{
	padding-top: 165px;
	background: url(../imagens/bg/bg-blog.png)no-repeat right center;
	background-size: 640px;
	height: 100%;
}

/* --- artigos --- */
#artigos{
	max-width: 839px;
	width: 100%;
}
#artigos .slide img.img-fluid.w-100{
	height: 450px;
	object-fit: cover;
	border: 1px solid var(--new-pink);
	margin-bottom: 40px;
}
#artigos .slide h1{
	font-size: 35px;
	margin-bottom: 15px;
	font-family: "ChosenceRegular";
	letter-spacing: 0;
}
#artigos .slide p{
	font-family: "Poppins-Regular";
}
#artigos .row.mx-auto img.img-fluid{
	width: 100%;
	height: 366px;
	object-fit: cover;
	margin-top: 38px;
	margin-bottom: 45px;
	border: 1px solid var(--new-pink);
}
#artigos .btn-slick-carousel-left,
#artigos .btn-slick-carousel-right{
    position: absolute;
    top: -60px;
    z-index: 2;
}
#artigos .btn-slick-carousel-left{
    left: .5%;
}
#artigos .btn-slick-carousel-right{
    right: 88%;
}

/* --- comentarios --- */
#comentarios{
	margin-top: 50px;
	margin-bottom: 100px;
}
#comentarios h2{
	font-family: "ChosenceBold";
	font-size: 26px;
	margin-bottom: 0px;
}
#comentarios .sociais a img{
	display: inline;
}
#comentarios hr{
	opacity: .3;
}
#comentarios .avatar{
	margin-right: 14px;
}
#comentarios h3.nome,
#comentarios p.data,
#comentarios p.comentario{
	font-size: 16px;
	color: white;
}
#comentarios h3.nome{
	font-family: "Poppins-Semibold";
}
#comentarios p.comentario{
	font-size: 16px;
	margin-top: 15px;
	margin-bottom: 18px;
}
#comentarios p.responder{
	font-size: 16px;
	display: inline;
	padding-bottom: 5px;
	border-bottom: 1px solid var(--new-pink);
}
#comentarios input,
#comentarios textarea{
	width: 100%;
	border-radius: 0px;
	padding-top: 8px;
	padding-left: 10px;
	font-size: 12px;
	background-color: transparent;
	border-color: #ccc!important;
	font-family: "Poppins-Regular";
}
#comentarios input{
	margin-bottom: 10px;
}
#comentarios textarea{
	padding-top: 10px;
	height: 86px;
}
#comentarios a.btn{
	padding-top: 8px;
	height: 37px;
	font-size: 14px;
}

/* --- blog aside --- */
.aside{
	margin-left: 135px;
	margin-top: 0px;
	padding: 0;
}

/* --- aside --- */
#coluna-imagens{
	position: relative;
	margin-top: 50px;
}
#coluna-imagens img.img-2{
	position: absolute;
	bottom: -10px;
	left: 0;
	width: 172px;
	height: 197px;
}
	
@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- conteudo --- */
	#conteudo{
		background: url(../imagens/bg/bg-blog.png)no-repeat right top;
		background-size: 370px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}
	
	/* --- artigos --- */
	#artigos{
		max-width: 690px;
	}

	/* --- blog aside --- */
	.aside{
		margin-left: 20px;
	}
}

@media screen and (max-width: 992px) {
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-convenios-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

	/* --- conteudo --- */
	#conteudo{
		padding-top: 120px;
		background: none;
	}
	
	/* --- artigos --- */
	#artigos{
		max-width: 100%;
	}
	#artigos .row.mx-auto img.img-fluid{
		margin-bottom: 20px;
	}

	/* --- blog aside --- */
	.aside{
		margin-left: 20px;
	}

	/* --- comentarios --- */
	#comentarios{
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-blog-mobile.png)no-repeat top center;
		background-size: cover;
		height: 380px;
	}

	/* --- conteudo --- */
	#conteudo {
		padding-top: 100px;
	}#conteudo h1 {
		margin-bottom: 35px;
	}
	
	/* --- artigos --- */
	#artigos .slide img.img-fluid.w-100{
		height: 192px;
		margin-bottom: 25px;
	}
	#artigos .row.mx-auto img.img-fluid{
		height: 365px;
		margin-top: 20px;
		margin-bottom: 20px;
	}
	#artigos .btn-slick-carousel-right{
		right: 75%;
	}

	/* --- blog aside --- */
	.aside{
		margin-left: 0px;
	}

	/* --- aside --- */
	#coluna-imagens{
		display: none;
	}

	/* --- comentarios --- */
	#comentarios{
		margin-bottom: 0px;
	}
	#comentarios h2{
		font-size: 25px;
	}
	
	#comentarios p.responder{
		padding-bottom: 5px;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}