/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="blog.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="blog.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-blog.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- conteudo --- */
#conteudo{
	padding-top: 120px;
	background: url(../imagens/bg/bg-blog.png)no-repeat right center;
	background-size: 640px;
	height: 100%;
}
#conteudo h1{
	margin-bottom: 70px;
}

/* --- artigos --- */
#artigos{
	max-width: 912px;
	width: 100%;
}
#artigos .box{
	margin-bottom: 70px;
	padding: 20px;
	border: 1px solid transparent;
	transition: .3s;
}
#artigos .box .imagem img{
	width: 312px;
	height: 192px;
	object-fit: cover;
	border-radius: 0px;
	border: 1px solid var(--new-pink);
}
#artigos .box .desc{
	position: relative;
	left: -10px;
}
#artigos .box:hover{
	border: 1px solid var(--new-pink);
	transition: .3s;
}
#artigos .box .desc img{
	position: absolute;
	top: 70px; bottom: 0; right: -50px;
	opacity: 0;
	transition: .3s;
}
#artigos .box:hover .desc img{
	opacity: 1;
	transition: .3s;
}
#artigos .box .desc h2{
	font-size: 35px;
	font-family: "ChosenceRegular";
	margin-bottom: 14px;
}
#artigos .box .desc p{
	font-size: 16px;
	margin-bottom: 0;
	font-family: "Poppins-Regular";
	color: white;
	height: 123px;
	padding-right: 30px;
	overflow: auto;
}
#artigos .box .desc p::-webkit-scrollbar {
	width: 5px;
	border-radius: 0px;
}
#artigos .box .desc p::-webkit-scrollbar-track-piece {
	background-color: transparent;
	border-radius: 0px;
	border: 1px solid var(--new-pink);
}
#artigos .box .desc p::-webkit-scrollbar-thumb:vertical {
	background-color: var(--new-pink);
	border-radius: 0px;
	border: 1px solid var(--new-pink);
}

/* --- paginacao --- */
#paginacao{
	margin-top: -30px;
	margin-left: 10px;
	margin-bottom: 150px;
}
#paginacao li{
	text-align: center;
	width: 50px;
	height: 50px;
	padding-top: 8px;
	border-radius: 0px;
	border: 1px solid var(--new-pink);
	margin-left: 10px;
}
#paginacao a{
	font-size: 22px;
	color: var(--new-pink);
	font-weight: bold;
	transition: .3s;
}
#paginacao li.active,
#paginacao li:hover{
	background-color: var(--new-pink);
	transition: .3s;
}
#paginacao li.active a,
#paginacao li:hover a{
	color: white;
	transition: .3s;
}

/* --- aside --- */
#coluna-imagens{
	display: none;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- conteudo --- */
	#conteudo{
		background: url(../imagens/bg/bg-blog.png)no-repeat right top;
		background-size: 370px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}
	
	/* --- artigos --- */
	#artigos{
		max-width: 700px;
	}
	#artigos .box{
		padding: 10px;
	}
	#artigos .box .imagem img{
		width: 280px;
	}
	#artigos .box .desc{
		left: 10px;
	}
	#artigos .box .desc img{
		top: 100px; bottom: 0; right: -20px;
	}
	#artigos .box .desc p{
		height: 170px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 992px) {
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-convenios-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

	/* --- conteudo --- */
	#conteudo{
		padding-top: 120px;
		background: none;
	}
	
	/* --- artigos --- */
	#artigos{
		max-width: 100%;
	}
	#artigos .box{
		padding: 20px 0px;
	}
	#artigos .box .imagem img{
		width: 280px;
		margin-bottom: 20px;
	}
	#artigos .box .desc{
		left: 0px;
	}
	#artigos .box .desc img{
		top: 0px; bottom: 0; right: -35px;
	}
	#artigos .box .desc p{
		height: 100px;
		padding-right: 25px;
	}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-blog-mobile.png)no-repeat top center;
		background-size: cover;
	}

	/* --- conteudo --- */
	#conteudo {
		padding-top: 50px;
	}#conteudo h1 {
		margin-bottom: 35px;
	}
	
	/* --- artigos --- */
	#artigos .box{
		padding: 20px 0px;
	}
	#artigos .box .imagem img{
		width: 100%;
		height: 192px;
		margin-bottom: 20px;
	}
	#artigos .box .desc img{
		top: auto; bottom: -40px; right: 0; left: 0;
	}
	#artigos .box .desc p{
		height: 190px;
		padding-right: 25px;
	}

	/* --- paginacao --- */
	#paginacao{
		margin-left: 0px;
		margin-bottom: 100px;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}