/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="contato.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="contato.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-contato.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- contato --- */
#contato{
	margin-top: 35px;
}
#contato .text-center p.title{
	font-size: 150px;
	letter-spacing: -15px;
	position: relative;
	bottom: -100px;
    z-index: -1;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: #3D3C3C;
}
#contato .text-center h1{
	font-size: 95px;
}
#contato .text-center p.font-poppins{
	font-size: 16px;
	color: white;
	max-width: 654px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 85px;
}

/* --- formulario --- */
#formulario{
	max-width: 547px;
	width: 100%;
}
#formulario input,
#formulario select,
#formulario textarea{
	border-radius: 0;
	border-color: #707070;
	height: 71px;
	font-size: 18px;
	padding-top: 8px;
	padding-left: 20px;
	margin-bottom: 22px;
	color: white;
	font-family: "Poppins-Regular";
	background-color: transparent;
}
#formulario select option{
	color: var(--new-dark);
}
#formulario textarea{
	height: 203px;
	padding-top: 15px;
}
#formulario ::placeholder{
	color: white;
}
#formulario a.btn-bg-pink{
	margin-top: 5px;
}

/* --- dados --- */
#dados{
	max-width: 640px;
	margin-right: 30px;
}
#dados [class*=col-]{
	height: 320px;
}
#dados .bg-pink{
	padding: 18px 24px 0 24px;	
}
#dados .bg-pink h3{
	margin-bottom: 18px;
	font-size: 35px;
}
#dados .bg-pink .media{
	margin-bottom: 20px;
}
#dados .bg-pink img{
	margin-right: 30px;
}
#dados .bg-pink p.font-poppins-semibold{
	font-size: 20px;
	line-height: 20px;
}
#dados .bg-pink p.font-poppins{
	font-size: 16px;
}

#dados .trabalhe{
	padding-top: 60px;
}
#dados p.font-light{
	font-size: 16px;
	margin-bottom: 16px;
}
#dados a.btn-bg-black-2 img{
	margin-right: 0;
}

/* --- mapa --- */
#mapa{
	margin-top: 128px;
}
#mapa iframe{
	height: 330px;
}

/* --- modal trabalhe conosco --- */
#modal_trabalhe .modal-lg{
	max-width: 700px!important;
	width: 100%;
}
#modal_trabalhe .modal-content{
	border-radius: 0!important
}
#modal_trabalhe .modal-body{
	padding: 0;
	background-color: var(--new-dark);
}
#modal_trabalhe button{
	position: absolute;
	right: 0;
	margin-top: -25px;
	margin-right: -25px;
	z-index: 2;
	opacity: 1;
}
#modal_trabalhe .form{
	margin-top: 0px;
	padding: 50px 30px;
}
#modal_trabalhe h2{
	font-size: 20px;
	margin-bottom: 20px;
}
#modal_trabalhe select,
#modal_trabalhe label,
#modal_trabalhe input{
	height: 43px;
	font-size: 16px;
	background-color: transparent;
	border-radius: 10px;
	padding-left: 20px;
	margin-bottom: 13px;
	color: white;
}
#modal_trabalhe ::placeholder{
	color: white;
}
#modal_trabalhe label{
	border: 1px solid #ced4da;
}
#modal_trabalhe input[type='file'] {
	display: none
}
#modal_trabalhe label{
	color: white;
	cursor: pointer;
	width: 100%;
	padding-top: 10px;
}
#modal_trabalhe label .float-right{
	background-color: #707070;
	color: white;
	width: 66px;
	height: 19px;
	text-align: center;
	font-size: 9px;
	margin-right: 25px;
	padding-top: 3px;
	border-radius: 10px;
}
#modal_trabalhe a.btn{
	font-size: 20px;
}
#modal_trabalhe .imagem{
	background: url(../imagens/img-contato-01.png)no-repeat center center;
	background-size: cover;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- contato --- */
	#contato{
		margin-top: 50px;
	}
	#contato .text-center p.title{
		bottom: -75px;
	}
	#contato .text-center p.font-poppins{
		margin-top: 35px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- contato --- */
	#contato{
		margin-top: 50px;
	}
	#contato .text-center p.title{
		font-size: 125px;
		bottom: -75px;
	}
	#contato .text-center p.font-poppins{
		margin-top: 35px;
	}

	/* --- formulario --- */
	#formulario{
		max-width: 45%;
	}

	/* --- dados --- */
	#dados{
		max-width: 54%;
		margin-right: 0px;
	}
	#dados .bg-pink{
		padding: 10px 15px 0 15px;	
	}
	#dados .bg-pink img{
		margin-right: 15px;
	}

	#dados .trabalhe{
		padding-top: 30px;
	}

	/* --- modal trabalhe conosco --- */
	#modal_trabalhe select,
	#modal_trabalhe label,
	#modal_trabalhe input{
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 992px) {
	a[href*="contato.html"] {
		color: var(--new-dark)!important;
	}
	
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato-mobile.png)no-repeat center center;
		background-size: cover;
		height: 330px;
	}
	#banner .icon-boxing{
		display: none;
	}

	/* --- contato --- */
	#contato{
		margin-top: 20px;
	}
	#contato .text-center p.title{
		font-size: 100px;
		bottom: -100px;
	}
	#contato .text-center p.font-poppins{
		margin-top: 35px;
	}

	/* --- formulario --- */
	#formulario{
		max-width: 100%;
		margin-bottom: 45px;
	}

	/* --- dados --- */
	#dados{
		max-width: 100%;
	}
	#dados .bg-pink{
		padding: 30px 20px 0 20px;	
	}
	#dados .bg-pink img{
		margin-right: 20px;
	}

	#dados .trabalhe{
		padding-top: 60px;
	}

	/* --- mapa --- */
	#mapa{
		margin-top: 5px;
	}

	/* --- modal trabalhe conosco --- */
	#modal_trabalhe .modal-lg{
		max-width: 400px!important;
	}
	#modal_trabalhe .modal-content{
		overflow: initial; 
	}
	#modal_trabalhe .imagem{
		height: 250px;
	}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-contato-mobile.png)no-repeat top center;
		background-size: cover;
		height: 360px;
	}

	/* --- contato --- */
	#contato{
		margin-top: 30px;
	}
	#contato .text-center p.title{
		display: none;
	}
	#contato .text-center h1{
		font-size: 46px;
	}
	#contato .text-center p.font-poppins{
		margin-top: 20px;
		margin-bottom: 50px;
	}

	/* --- formulario --- */
	#formulario input,
	#formulario select,
	#formulario textarea{
		height: 70px;
		margin-bottom: 20px;
	}
	#formulario textarea{
		height: 200px;
	}
	#formulario a.btn-bg-pink{
		height: 40px;
		font-size: 20px;
	}

	/* --- mapa --- */
	#mapa iframe{
		height: 300px;
	}

	/* --- modal trabalhe conosco --- */
	#modal_trabalhe .modal-lg{
		max-width: 341px!important;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	#modal_trabalhe .form{
		padding: 40px 35px 40px 35px;
	}
	#modal_trabalhe h2{
		font-size: 20px;
	}
	#modal_trabalhe .btn-bg-pink {
        height: 39px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}