/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="convenios.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="convenios.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-convenios.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- descricao --- */
#descricao{
    margin-top: 200px;
}
#descricao h1{
    margin-bottom: 38px;
}
#descricao p{
    font-size: 30px;
    margin-bottom: 0;
}
#descricao img{
    box-shadow: 0px 25px 80px #00000050;
}

/* --- convenios --- */
#convenios{
    margin-top: 170px;
}
#convenios h2{
    font-size: 55px;
    margin-bottom: 0;
}
#convenios .slide img.img-fluid{
    border: 1px solid var(--new-pink)!important;
}
#convenios .btn-slick-carousel-left,
#convenios .btn-slick-carousel-right{
    position: absolute;
    top: 35px;
    z-index: 2;
    max-width: 40px;
}
#convenios .btn-slick-carousel-left{
    left: 1.5%;
}
#convenios .btn-slick-carousel-right{
    right: 1.5%;
}

/* --- parceiros --- */
#parceiros{
    margin-top: 90px;
    margin-bottom: 110px;
}
#parceiros h2{
    font-size: 55px;
    margin-bottom: 0;
}
#parceiros .btn-slick-carousel-left,
#parceiros .btn-slick-carousel-right{
    position: absolute;
    top: 0px;
    z-index: 2;
    max-width: 40px;
}
#parceiros .btn-slick-carousel-left{
    left: 1.5%;
}
#parceiros .btn-slick-carousel-right{
    right: 1.5%;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

    /* --- convenios --- */
    #convenios h2{
        margin-bottom: 30px;
    }

    /* --- parceiros --- */
    #parceiros h2{
        margin-bottom: 30px;
    }	
}

@media screen and (max-width: 992px) {
	a[href*="convenios.html"] {
		color: var(--new-dark)!important;
	}
	
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-convenios-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

    /* --- descricao --- */
    #descricao{
        margin-top: 65px;
    }
    #descricao p{
        margin-bottom: 40px;
    }
    #descricao img{
        width: 100%;
    }

    /* --- convenios --- */
    #convenios{
        margin-top: 60px;
    }
    #convenios h2{
        margin-bottom: 30px;
    }

    /* --- parceiros --- */
    #parceiros{
        margin-top: 50px;
    }
    #parceiros h2{
        margin-bottom: 30px;
    }	
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-convenios-mobile.png)no-repeat top left;
		background-size: cover;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}