/*
	CSS que engloba todas as páginas
*/

/* --- fontes --- */
@font-face {
	font-family: "ChosenceBold";
	src: url("../fonts/ChosenceBold.otf");
}
@font-face {
	font-family: "ChosenceLight";
	src: url("../fonts/ChosenceLight.otf");
}
@font-face {
	font-family: "ChosenceRegular";
	src: url("../fonts/ChosenceRegular.otf");
}
@font-face {
	font-family: "Nostromo";
	src: url("../fonts/NostromoRegular-Bold.otf");
}
@font-face {
	font-family: "Poppins-Regular";
	src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
	font-family: "Poppins-Semibold";
	src: url("../fonts/Poppins-SemiBold.ttf");
}


.font-bold{
	font-family: "ChosenceBold";
}
.font-regular{
	font-family: "ChosenceRegular";
}
.font-light{
	font-family: "ChosenceLight";
}
.font-nostro{
	font-family: "Nostromo";
}
.font-poppins{
	font-family: "Poppins-Regular";
}
.font-poppins-semibold{
	font-family: "Poppins-Semibold";
}

/* --- cores --- */
:root{
	--new-pink: #F3364C;
	--new-dark: #191919;
}

.bg-pink{
	background-color: var(--new-pink);
}
.bg-dark{
	background-color: var(--new-dark)!important;
}

.text-pink{
	color: var(--new-pink);
}

/* --- outros --- */
body{
	font-family: "ChosenceLight";
}

.container{
	max-width: 1280px!important;
}

.border-links-home{
	border: 1px solid white;
	padding: 13px 15px;
}

a:hover{
	text-decoration: none;
}
.title{
	font-size: 95px;
	line-height: 85px;
	letter-spacing: -10px;
	font-family: "Nostromo";
	color: var(--new-pink);
}

.icon-boxing{
	padding: 5px;
}
.rotate {
	animation: rotation 10s infinite linear;
}
  
@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}
  
@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}

.btn-bg-pink{
	border: 1px solid var(--new-pink);
	background-color: var(--new-pink);
	color: #fff;
	height: 39px;
	border-radius: 0px;
	font-size: 20px;
	font-family: "ChosenceRegular";
	transition: .3s;
	padding-top: 4px;
}
.btn-bg-pink:hover{
	background-color: white;
	color: var(--new-pink);
	transition: .3s;
}

.btn-bg-black{
	border: 1px solid var(--new-pink);
	background-color: transparent;
	color: #fff;
	height: 39px;
	border-radius: 0px;
	font-size: 20px;
	font-family: "ChosenceRegular";
	transition: .3s;
	padding-top: 4px;
}
.btn-bg-black img{
	display: inline-block!important;
}
.btn-bg-black:hover{
	background-color: var(--new-pink);
	color: white;
	transition: .3s;
}

.btn-bg-black-2{
	border: 1px solid var(--new-dark);
	background-color: var(--new-dark);
	color: #fff;
	height: 39px;
	border-radius: 0px;
	font-size: 20px;
	font-family: "ChosenceRegular";
	transition: .3s;
	padding-top: 4px;
}
.btn-bg-black-2 img{
	display: inline-block!important;
}
.btn-bg-black-2:hover{
	background-color: transparent;
	color: var(--new-dark);
	transition: .3s;
}

/* --- blog aside --- */
.aside{
	max-width: 320px;
	width: 100%;
	margin-left: 65px;
	margin-top: -210px;
	padding: 0;
}
.aside .bg-dark-2{
	background-color: #252525;
}
.aside .bg-pink,
.aside .bg-dark-2{
	padding: 46px 43px 30px 43px;
}
.aside h5{
	font-size: 35px;
	margin-bottom: 22px;
	font-family: "ChosenceBold";
}
.aside li{
	list-style: none;
	font-size: 16px;
	margin-bottom: 6px;
	padding-bottom: 5px;
}
.aside li a{
	color: white;
	font-family: "Poppins-Regular";
}
.aside .arquivos li{
	margin-bottom: 6px!important;
}	
.aside li a:hover{
	color: #ccc;
}

/* --- barra de rolagem do navegador --- */
::-webkit-scrollbar {
	width: 8px;
	height: 8px;
	border-radius: 20px;
}
::-webkit-scrollbar-track-piece {
	background-color: var(--white);
}
::-webkit-scrollbar-thumb:vertical {
	background-color: #000;
}
::-webkit-scrollbar-thumb:horizontal {
	background-color: #000;
}

/* --- LGPD --- */
/* Deixa desabilitado por padrão */
.js_enabled .lgpd-cookies {
	display: none;
}
	
.lgpd-cookies {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	width: 85vw;
	border: none;
	border-radius: 0;
	padding: 15px;
	position: fixed;
	bottom: 3%;
	left: 50%;
	transform: translateX(-50%);
	z-index: 999;
	background: rgba(0, 0, 0, 0.85);
	box-shadow: 2px 1px 20px #00000029;
	border-radius: 10px;
}
	
.lgpd-texto {
	width: 72%;
	text-align: center;
	margin-right: 20px;
	margin-left: 20px;
	color: #fff;
}

.lgpd-link {
	color: var(--clr-primary);
}

.lgpd-link:hover {
	color: var(--clr-primary);
}

.lgpd-botao {
	background: none;
	border: none;
	cursor: pointer;
	outline: none;
	color: #ffffff;
}

.lgpd-botao.continuar {
	border: 1px solid var(--clr-primary);
	border-radius: 8px;
	padding: 10px 15px;
	margin-right: 10px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.lgpd-botao.continuar:hover {
	color: #ffffff;
	background: var(--clr-primary);
}

.lgpd-botao.sair:hover {
	text-decoration: underline;
}

@media screen and (max-width: 1920px) {
	
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	.title{
		font-size: 65px;
		line-height: 60px;
	}
}

@media screen and (max-width: 1200px) {	
	/* --- blog aside --- */
	.aside{
		width: 300px;
		margin-left: 15px;
	}
}

@media screen and (max-width: 992px) {
	.title{
		font-size: 95px;
		line-height: 80px;
	}

	/* --- blog aside --- */
	img.menu-lateral{
		margin-top: -20px;
		position: relative;
	}

	/* ----- */

	.aside{
		position: absolute;
		top: 400px;
		right: 0px;

		width: 300px;
		margin-left: 0px;
		margin-top: 0px;
		padding: 37px 20px 1px 20px;
	}
}

@media screen and (max-width: 480px) {
	.title{
		font-size: 55px!important;
		line-height: 45px!important;
		letter-spacing: -7px;
	}

	.btn-bg-pink{
		height: 25px;
		font-size: 13px;
		padding-top: 3px;
	}

	/* --- blog aside --- */
	img.menu-lateral{
		margin-top: -20px;
		position: relative;
	}

	/* ----- */

	.aside{
		position: absolute;
		top: 450px;
		right: 0px;

		width: 250px;
		margin-left: 0px;
		margin-top: 0px;
		padding: 0px;
	}
}

@media screen and (max-width: 400px) {
	.title{
		font-size: 45px!important;
		line-height: 40px;
	}
}