/* --- header top --- */
#header-top{
	height: 33px;
	padding-top: 3px;
	background-color: var(--new-pink);
}
#header-top .spotify a{
	color: white;
	font-size: 16px;
	text-transform: uppercase;
}
#header-top .redes a img{
	max-height: 14px;
	margin-left: 10px;
}

/* --- header navegacao --- */
header{
	position: absolute;
	margin-top: 20px;
	width: 100%;
	height: 105px;
}
header a.navbar-brand{
	padding: 0 20px 0 30px;
}
header a.navbar-brand img{
	width: 308px;
}

header a.nav-link{
	font-family: "ChosenceRegular";
	color: white;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 20px;
}
header a.nav-link:hover{
	color: var(--new-pink);
}
header a.aulas{
	background-color: var(--new-pink);
	height: 41px;
	font-size: 26px;
	padding-top: 2px;
	margin-right: 90px;
	transition: .3s;
}
header a.aulas:hover{
	background-color: white;
	color: var(--new-pink);
	transition: .3s;
}

header .bg-pink.mr-auto{
	width: 60%;
}
header .bg-pink.ml-auto{
	width: 30%;
}

/* --- footer --- */
#footer{
	margin-top: -6px;
	background-color: var(--new-pink);
	padding-top: 95px;
	position: relative;
}
#footer h3{
	font-size: 35px;
	margin-bottom: 25px;
	color: #191919!important;
	font-family: "ChosenceRegular";
}
#footer a.btn{
	font-size: 26px;
	border: 2px solid #fff;
	border-radius: 0;
	height: 59px;
	color: white;
	text-transform: uppercase;
	padding-top: 10px;
}
#footer a.btn:hover{
	background-color: white;
	color: var(--new-pink);
}

#footer .menu{
	margin-top: 68px;
	margin-bottom: 35px;
}
#footer .menu a{
	font-family: "ChosenceRegular";
	font-size: 20px;
	color: white;
	margin-left: 15px;
	margin-right: 15px;
	text-transform: uppercase;
	transition: .3s;
}
#footer .menu a:hover{
	color: #191919;
	transition: .3s;
}
#footer .redes {
    max-width: 100%!important;
}
#footer .btn-slick-carousel-left,
#footer .btn-slick-carousel-right{
    display: none;
}
	
/* --- footer copyright --- */
#copyright{
	background-color: #191919;
	text-align: center;
	height: 141px;
	padding-top: 20px;
}
#copyright p.text-pink{
	font-size: 26px;
	margin-bottom: 20px;
}
#copyright p.text-pink img{
	margin-left: 30px;
}
#copyright p.text-uppercase{
	font-size: 16px;
	margin-bottom: 0;
}
#copyright p.text-uppercase img{
	margin-left: 10px;
}

@media screen and (max-width: 1660px) {

}	

@media screen and (max-width: 1660px) {
	/* --- header navegacao --- */
	header{
		margin-top: 20px;
	}

	header a.navbar-brand{
		padding: 0 15px 0 25px;
	}
	header a.navbar-brand img{
		width: 270px;
	}

	header a.nav-link{
		margin-left: 5px;
		margin-right: 5px;
	}
	header a.aulas{
		height: 36px;
		font-size: 22px;
		margin-right: 60px;
	}

	header .bg-pink.mr-auto{
		width: 45%;
	}
	header .bg-pink.ml-auto{
		width: 8%;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	/* --- header navegacao --- */
	header a.nav-link{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas{
		height: 36px;
		font-size: 22px;
		margin-right: 60px;
	}

	header .bg-pink.mr-auto{
		width: 45%;
	}
	header .bg-pink.ml-auto{
		width: 5%;
		margin-right: 2px!important;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header navegacao --- */
	header{
		margin-top: 20px;
	}

	header a.navbar-brand{
		padding: 0 5px 0 10px;
	}
	header a.navbar-brand img{
		width: 250px;
	}

	header a.nav-link{
		margin-left: 3px;
		margin-right: 3px;
		font-size: 18px;
	}
	header a.aulas{
		height: 30px;
		font-size: 16px;
		margin-right: 45px;
	}

	header .bg-pink.mr-auto{
		display: none;
	}
	header .bg-pink.ml-auto{
		display: none;
	}
}

@media screen and (max-width: 992px) {
	/* --- header navegacao --- */
	header .navbar-collapse{
		background-color: var(--new-pink);
		padding: 0px 10px;
		position: relative;
		z-index: 1;
	}
	header a.nav-link:hover{
		color: white;
	}
	header a.aulas {
		margin-right: 0px!important;
		padding-left: 0px!important;
		padding-right: 0px!important;
		font-size: 18px;
	}

	header .navbar-nav.d-block.d-lg-none img{
		max-height: 20px;
		margin-top: 10px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	/* --- footer --- */
	#footer h3{
		margin-top: 30px;
	}
		
	/* --- footer copyright --- */
	#copyright{
		height: auto;
		padding-bottom: 15px;
	}
}

@media screen and (max-width: 480px) {
	/* --- header top --- */
	#header-top .spotify a{
		font-size: 14px;
	}
	
	/* --- header navegacao --- */
	header a.navbar-brand img{
		max-width: 310px!important;
	}

	header a.aulas:hover {
		background-color: transparent;
	}

	/* --- footer --- */
	#footer{
		padding-top: 30px;
	}
	#footer img.logo{
		max-width: 180px;
	}
	#footer h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
	#footer .redes{
		margin-top: -10px;
	}
	#footer a.btn{
		font-size: 22px;
		height: 55px;
	}

	#footer .menu{
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: 50px;
	}
	#footer .menu a{
		display: block;
		text-align: left;
		margin-left: 0px;
		margin-right: 0px;
	}
	#footer .redes img{
		max-height: 25px;
	}
		
	/* --- footer copyright --- */
	#copyright{
		padding-bottom: 15px;
		padding-left: 15px;
		padding-right: 15px;
	}
	#copyright p.text-pink{
		font-size: 22px;
	}
	#copyright p.text-pink img{
		margin-left: 15px;
		max-width: 130px;
	}
	#copyright p.text-uppercase{
		font-size: 14px;
	}
	#copyright p.text-uppercase img{
		margin-left: 5px;
		max-width: 40px;
	}
}

@media screen and (max-width: 400px) {
	/* --- header navegacao --- */
	header a.navbar-brand img{
		max-width: 250px!important;
	}
}

@media screen and (max-width: 350px) {
	header a.navbar-brand img{
		max-width: 220px!important;
	}
}

