
/* --- centro / quem faz --- */
#quem-faz{
    position: relative;
    z-index: 0;
    background-color: var(--new-dark);
}
#quem-faz .conteudo{
    max-width: 750px;
    width: 100%;
    position: relative;
    padding: 55px 40px 0 83px;
}
#quem-faz h2{
    position: relative;
    width: 900px;
    margin-bottom: 42px;
}
#quem-faz .desc{
    margin-left: 10px;
    margin-bottom: 40px;
}
#quem-faz .desc img{
    margin-right: 38px;
}
#quem-faz .desc h3{
    font-size: 35px;
    color: var(--new-pink);
}
#quem-faz .desc p{
    font-size: 16px;
    color: white;
    margin-top: 25px;
}
#quem-faz .imagem img{
    max-width: 990px;
    height: calc(100vh - 170px);
    object-fit: cover;
}

@media screen and (max-width: 1660px) {
	#quem-faz .conteudo{
        /* max-width: 1100px; */
        padding: 25px 20px 0 40px;
    }
    #quem-faz h2{
        width: 900px;
        margin-bottom: 20px;
    }
    #quem-faz .desc{
        margin-left: 5px;
        margin-bottom: 20px;
    }
    #quem-faz .desc img{
        margin-right: 15px;
        /* max-width: 45px; */
    }
    #quem-faz .desc h3{
        /* font-size: 30px; */
        padding-top: 5px;
    }
    #quem-faz .desc p{
        /* font-size: 14px; */
        margin-top: 5px;
        margin-bottom: 0;
    }
    #quem-faz .imagem img{
        /* max-width: 480px; */
        height: calc(100vh - 150px);
        object-fit: cover;
    }
}

@media screen and (max-width: 1440px) {
    #quem-faz .conteudo{
        max-width: 750px;
        padding: 25px 20px 0 40px;
    }
    #quem-faz h2{
        width: 580px;
        margin-bottom: 20px;
    }
    #quem-faz .desc{
        margin-left: 5px;
        margin-bottom: 20px;
    }
    #quem-faz .desc img{
        margin-right: 15px;
        max-width: 45px;
    }
    #quem-faz .desc h3{
        font-size: 30px;
        padding-top: 5px;
    }
    #quem-faz .desc p{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    #quem-faz .imagem img{
        max-width: 480px;
        height: calc(100vh - 100px);
        object-fit: cover;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	#quem-faz .conteudo{
        max-width: 700px;
        padding: 10px 0px 0 15px;
    }
    #quem-faz h2{
        font-size: 55px;
        line-height: 45px;
        letter-spacing: -5px;
        margin-bottom: 10px;
    }
    #quem-faz .desc{
        margin-bottom: 10px;
    }
    #quem-faz .desc img{
        margin-right: 15px;
        max-width: 40px;
    }
    #quem-faz .desc h3{
        font-size: 25px;
        padding-top: 5px;
    }
    #quem-faz .desc p{
        font-size: 14px;
        margin-top: 5px;
        margin-bottom: 0;
    }
    #quem-faz .imagem img{
        max-width: 350px;
    }
}

@media screen and (max-width: 1200px) {
	#quem-faz .conteudo{
        max-width: 100%;
        padding: 50px 40px 20px 40px;
    }
    #quem-faz h2{
        width: 100%;
        margin-bottom: 20px;
    }
    #quem-faz .imagem{
        width: 100%;
    }
    #quem-faz .imagem img{
        max-width: 100%;
        width: 100%;
        height: 880px;
    }
}

@media screen and (max-width: 992px) {
	#quem-faz{
        background-color: transparent;
    }
    #quem-faz .conteudo{
        padding: 50px 15px 20px 15px;
    }
    #quem-faz h2{
        width: 100%;
        margin-bottom: 40px;
    }
    #quem-faz .imagem{
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #quem-faz .conteudo{
        padding: 20px 15px 20px 15px;
    }
    #quem-faz .desc{
        margin-bottom: 40px;
    }
    #quem-faz .desc img{
        max-width: initial;
    }
    #quem-faz .desc h3{
        font-size: 35px;
        padding-top: 0px;
    }
    #quem-faz .desc p{
        font-size: 16px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}