
/* --- centro / home --- */
#inicial .centro #carousel .carousel-item{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: calc(100vh - 170px);
}
#inicial .centro #carousel .frase{
	margin-left: 60px;
	margin-bottom: 30px;
}
#inicial .centro #carousel .frase h2{
	font-size: 85px;
	line-height: 80px;
}
#inicial .centro #carousel .frase h2 span.text-fixed,
#inicial .centro #carousel .frase h2 span.text-border{
	font-size: 175px;
	font-family: "ChosenceBold";
	line-height: 150px;	
}
#inicial .centro #carousel .frase h2 span.text-fixed{
	position: relative;
}
#inicial .centro #carousel .frase h2 span.text-border{
	position: absolute;
    margin-top: 15px;
	left: 75px;
    z-index: -1;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: var(--new-pink);
}
#inicial .centro #carousel a.btn-bg-pink{
	margin-top: 20px;
	margin-left: 10px;
}

#inicial .centro .img-destaque{
	position: absolute;
	bottom: 0;
	right: 10px;
	z-index: 1;
	overflow: hidden;
}
#inicial .centro .img-destaque img{
	margin-bottom: -105px;
}

@media screen and (max-width: 1660px) {
	/* --- centro / home --- */
	#inicial .centro #carousel .carousel-item{
		height: calc(100vh - 150px);
	}
}

@media screen and (max-width: 1440px) {
	/* --- centro / home --- */
	#inicial .centro #carousel .carousel-item{
		height: calc(100vh - 150px);
	}
	#inicial .centro #carousel .frase{
		margin-left: 40px;
		margin-bottom: 20px;
	}
	#inicial .centro #carousel .frase h2{
		font-size: 70px;
		line-height: 65px;
	}
	#inicial .centro #carousel .frase h2 span.text-fixed,
	#inicial .centro #carousel .frase h2 span.text-border{
		font-size: 140px;
		line-height: 130px;	
		margin-left: -5px;
	}
	#inicial .centro #carousel .frase h2 span.text-border{
		margin-top: 10px;
		left: 10px;
	}
	#inicial .centro #carousel a.btn-bg-pink{
		margin-top: 5px;
		margin-left: 10px;
		position: relative;
		z-index: 5;
	}

	#inicial .centro .img-destaque{
		max-width: 300px;
	}
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	#inicial .centro #carousel .frase h2 span.text-border{
		margin-top: 10px;
		left: 50px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- centro / home --- */
	#inicial .centro #carousel .carousel-item{
		height: 650px;
	}
}

@media screen and (max-width: 992px) {
	/* --- centro / home --- */
	#inicial .centro #carousel .frase h2 span.text-border{
		left: 50px;
	}
}

@media screen and (max-width: 480px) {
	/* --- centro / home --- */
	#inicial .centro #carousel .carousel-item{
		height: 645px;
	}
	#inicial .centro #carousel .frase{
		margin-left: 15px;
		margin-bottom: 20px;
	}
	#inicial .centro #carousel .frase h2{
		font-size: 55px;
		line-height: 50px;
	}
	#inicial .centro #carousel .frase h2 span.text-fixed,
	#inicial .centro #carousel .frase h2 span.text-border{
		font-size: 114px;
		line-height: 100px;	
		margin-left: -3px;
	}
	#inicial .centro #carousel .frase h2 span.text-border{
		margin-top: 10px;
		left: 20px;
	}
	#inicial .centro #carousel a.btn-bg-pink{
		font-size: 13px;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}