
/* --- centro / modalidades --- */
#modalidades .conteudo{
    margin-top: 150px;
    margin-left: 75px;
    height: calc(100vh - 170px);
}
#modalidades img.w-100{
    height: 100%;
    object-fit: cover;
}
#modalidades h2{
    margin-bottom: 30px;
}
#modalidades p{
    font-size: 30px;
    margin-bottom: 20;
    max-width: 625px;
    width: 100%;
}
#modalidades .btn-slick-carousel-left,
#modalidades .btn-slick-carousel-right{
    position: absolute;
    top: 60px;
    z-index: 2;
}
#modalidades .btn-slick-carousel-left{
    left: 55%;
}
#modalidades .btn-slick-carousel-right{
    right: 38.2%;
}

@media screen and (max-width: 1660px) {
	/* --- centro / modalidades --- */
    #modalidades .conteudo{
        margin-top: 90px;
        margin-left: 50px;
    }
    #modalidades h2{
        font-size: 90px;
        line-height: 80px;
        margin-bottom: 20px;
        margin-left: -5px;
    }
    #modalidades p{
        font-size: 28px;
        padding-right: 20px;
    }
    #modalidades .btn-slick-carousel-left,
    #modalidades .btn-slick-carousel-right{
        top: 20px;
        max-width: 45px;
    }
    #modalidades .btn-slick-carousel-left{
        left: 53.5%;
    }
    #modalidades .btn-slick-carousel-right{
        right: 40%;
    }
}

@media screen and (max-width: 1440px) {
    /* --- centro / modalidades --- */
    #modalidades .conteudo{
        margin-top: 90px;
        margin-left: 50px;
    }
    #modalidades h2{
        margin-bottom: 20px;
        margin-left: -5px;
    }
    #modalidades p{
        font-size: 20px;
        padding-right: 20px;
    }
    #modalidades .btn-slick-carousel-left,
    #modalidades .btn-slick-carousel-right{
        top: 20px;
        max-width: 45px;
    }
    #modalidades .btn-slick-carousel-left{
        left: 54%;
    }
    #modalidades .btn-slick-carousel-right{
        right: 38%;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	#modalidades .conteudo{
        margin-top: 80px;
    }
    #modalidades h2{
        font-size: 55px;
        line-height: 45px;
        letter-spacing: -5px;
    }
    #modalidades p {
        font-size: 18px;
        padding-right: 20px;
    }
}

@media screen and (max-width: 1200px) {
	/* --- centro / modalidades --- */
    #modalidades .conteudo{
        margin-top: 100px;
        margin-left: 50px;
        height: auto;
    }
    #modalidades .btn-slick-carousel-left,
    #modalidades .btn-slick-carousel-right{
        top: 40px;
        max-width: 40px;
    }
    #modalidades .btn-slick-carousel-left{
        left: 55%;
    }
    #modalidades .btn-slick-carousel-right{
        right: 35%;
    }
}

@media screen and (max-width: 992px) {
	/* --- centro / modalidades --- */
    #modalidades{
        padding-bottom: 40px;
    }
    #modalidades .bg-dark{
        background-color: transparent!important;
    }
    #modalidades .conteudo{
        margin-top: 50px;
        margin-left: 15px;
        height: auto;
        margin-bottom: 30px;
    }
    #modalidades .btn-slick-carousel-left,
    #modalidades .btn-slick-carousel-right{
        top: initial;
        bottom: 10px;
        max-width: 40px;
    }
    #modalidades .btn-slick-carousel-left{
        left: 45%;
    }
    #modalidades .btn-slick-carousel-right{
        right: 45%;
    }
    #modalidades img.w-100{   
        height: 330px;
        margin-bottom: 90px;
    }    
}

@media screen and (max-width: 480px) {
	/* --- centro / modalidades --- */
    #modalidades .conteudo{
        margin-top: 50px;
    }
    #modalidades h2{
        margin-bottom: 17px;
        margin-left: -5px;
    }
    #modalidades p{
        font-size: 18px;
        padding-right: 15px;
    }
    #modalidades .btn-slick-carousel-left{
        left: 38%;
    }
    #modalidades .btn-slick-carousel-right{
        right: 38%;
    }
    #modalidades img.w-100{   
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}
