
/* --- centro / porque fazer --- */
#porque-fazer{
    position: relative;
    background-color: var(--new-dark);
}
#porque-fazer .desc{
    max-width: 1100px;
    width: 100%;
    padding: 35px 85px 0 45px;
}
#porque-fazer h2{
    margin-bottom: 70px;
}
#porque-fazer .media{
    margin-bottom: 90px;
    padding-right: 5px;
}
#porque-fazer .media .img{
    width: 130px;
    height: 130px;
    text-align: center;
    margin-right: 45px;
}
#porque-fazer h3{
    color: var(--new-pink);
    font-size: 35px;
    margin-bottom: 20px;
}
#porque-fazer p{
    color: white;
    font-size: 16px;
    margin-bottom: 0;
}
#porque-fazer .imagem img.w-100{
    max-width: 640px;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

@media screen and (max-width: 1660px) {
	/* --- centro / porque fazer --- */
    #porque-fazer .desc{
        max-width: 1000px;
        padding: 30px 20px 0 20px;
    }
    #porque-fazer h2{
        font-size: 90px;
        /* line-height: 80px; */
        margin-bottom: 40px;
    }
    #porque-fazer .media{
        margin-bottom: 30px;
        padding-right: 5px;
    }
    #porque-fazer .media .img{
        width: 115px;
        height: 115px;
        margin-right: 40px;
    }
    #porque-fazer h3{
        font-size: 35px;
        margin-bottom: 10px;
    }
    #porque-fazer .imagem img.w-100{
        max-width: 640px;
        height: calc(100vh - 100px);
    }
}

@media screen and (max-width: 1440px) {
    /* --- centro / porque fazer --- */
    #porque-fazer .desc{
        max-width: 770px;
        padding: 30px 20px 0 30px;
    }
    #porque-fazer h2{
        font-size: 75px;
        line-height: 70px;
        margin-bottom: 30px;
    }
    #porque-fazer .media{
        margin-bottom: 30px;
        padding-right: 5px;
    }
    #porque-fazer .media .img{
        width: 60px;
        margin-right: 20px;
    }
    #porque-fazer .media .img img{
        height: 60px;
    }
    #porque-fazer h3{
        font-size: 30px;
        margin-bottom: 5px;
    }
    #porque-fazer p{
        font-size: 14px;
        line-height: 18px;
    }
    #porque-fazer .imagem{
        max-width: 450px;
        height: 100%;
        object-fit: cover;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	#porque-fazer .desc{
        max-width: 700px;
        padding: 15px 0px 0 15px;
    }
    #porque-fazer h2{
        font-size: 55px;
        line-height: 45px;
        letter-spacing: -5px;
        margin-bottom: 30px;
    }
    #porque-fazer .imagem {
        max-width: 320px;
    }
}

@media screen and (max-width: 1200px) {
	/* --- centro / porque fazer --- */
    #porque-fazer{
        margin-top: -10px;
        height: auto;
    }
    #porque-fazer .desc{
        max-width: 100%;
        padding: 50px 30px 0 30px;
    }
    #porque-fazer .imagem{
        max-width: 100%;
        width: 100%;
    }
    #porque-fazer .imagem img.w-100{
        max-width: 100%;
        width: 100%;
        height: 881px;
        object-fit: cover;
    }
}

@media screen and (max-width: 992px) {
	/* --- centro / porque fazer --- */
    #porque-fazer{
        background-color: transparent;
        height: auto;
    }
    #porque-fazer .desc{
        max-width: 100%;
        padding: 50px 15px 0 15px;
    }
    #porque-fazer h2{
        text-align: center;
        margin-bottom: 40px;
    }
    #porque-fazer .media{
        margin-bottom: 40px;
    }
    #porque-fazer .media .img{
        height: auto;
    }
    #porque-fazer .imagem{
        max-width: 100%;
        width: 100%;
        height: 881px;
        position: relative;
    }
    #porque-fazer .imagem img.icon-boxing{
        position: absolute;
        max-width: 260px;
        right: 50px;
        bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
	/* --- centro / porque fazer --- */
    #porque-fazer{
        height: auto;
    }
    #porque-fazer .desc{
        padding: 10px 15px 0 15px;
    }
    #porque-fazer .media{
        margin-bottom: 50px;
    }
    #porque-fazer .media .img{
        margin-top: 20px;
        height: auto;
    }
    #porque-fazer h3{
        font-size: 35px;
    }
    #porque-fazer p{
        font-size: 16px;
    }
    #porque-fazer .imagem{
        height: 881px;
        overflow: hidden;
    }
    #porque-fazer .imagem img.icon-boxing{
        right: -50px;
        bottom: 100px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}