
/* --- centro / depoimentos --- */
/* a[href*="depoimentos.html"] {
	border: 1px solid white;
    padding: 15px 10px;
} */

#depoimentos .bg-dark{
    height: 100vh;
    padding: 75px 75px 0 80px!important;
}
#depoimentos img.w-100.h-100{
    object-fit: cover;
}
#depoimentos .media{
    margin-bottom: 50px;
}
#depoimentos .media img.img-fluid{
    width: 168px;
    height: 198px;
    object-fit: cover;
    margin-right: 40px;
}
#depoimentos h3{
    font-size: 35px;
    color: var(--new-pink);
}
#depoimentos p{
    font-size: 16px;
    color: white;
}
#depoimentos .btn-slick-carousel-left,
#depoimentos .btn-slick-carousel-right{
    position: absolute;
    bottom: -50px;
    z-index: 2;
}
#depoimentos .btn-slick-carousel-left{
    left: 3%;
}
#depoimentos .btn-slick-carousel-right{
    right: 80%;
}

#depoimentos img.icon-f{
    max-width: 107px;
    position: relative;
    left: 210px;
    top: -30px;
}

@media screen and (max-width: 1660px) {
	#depoimentos .bg-dark{
        padding: 35px 40px 0 40px!important;
    }
    #depoimentos .media{
        margin-bottom: 40px;
    }
    #depoimentos .media img.img-fluid{
        width: 130px;
        height: 160px;
        margin-right: 30px;
    }
    #depoimentos h3{
        font-size: 30px;
    }
    #depoimentos p{
        font-size: 16px;
        height: 145px;
        overflow: auto;
        margin-bottom: 0;
    }
    
    #depoimentos p::-webkit-scrollbar-thumb:vertical {
        background-color: var(--new-pink);
    }

    #depoimentos .btn-slick-carousel-left{
        left: 0%;
    }
    #depoimentos .btn-slick-carousel-right{
        right: 82%;
    }
    
    #depoimentos img.icon-f{
        max-width: 80px;
        position: relative;
        left: 140px;
        top: -10px;
    }
}

@media screen and (max-width: 1440px) {
    #depoimentos .bg-dark{
        padding: 20px 10px 0 20px!important;
    }
    #depoimentos .media{
        margin-bottom: 25px;
    }
    #depoimentos .media img.img-fluid{
        width: 120px;
        height: 150px;
        margin-right: 20px;
    }
    #depoimentos h3{
        font-size: 30px;
    }
    #depoimentos p{
        font-size: 14px;
        height: 125px;
        overflow: auto;
        margin-bottom: 0;
    }
    
    #depoimentos p::-webkit-scrollbar-thumb:vertical {
        background-color: var(--new-pink);
    }

    #depoimentos .btn-slick-carousel-left{
        left: 0%;
    }
    #depoimentos .btn-slick-carousel-right{
        right: 81%;
    }
    
    #depoimentos img.icon-f{
        max-width: 80px;
        position: relative;
        left: 140px;
        top: -10px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1289px) {
	#depoimentos .media img.img-fluid {
        width: 100px;
        height: 120px;
        margin-right: 15px;
    }
    #depoimentos p{
        height: 85px;
    }
}

@media screen and (max-width: 1200px) {
    #depoimentos .bg-dark{
        height: auto;
        padding: 50px 20px 0 20px!important;
    }
    #depoimentos .media{
        margin-bottom: 60px;
    }
    #depoimentos p{
        font-size: 14px;
        height: initial;
    }

    #depoimentos .btn-slick-carousel-left{
        left: 0%;
    }
    #depoimentos .btn-slick-carousel-right{
        right: 75%;
    }
    
    #depoimentos img.icon-f{
        max-width: 80px;
        left: 140px;
        top: -30px;
    }
}

@media screen and (max-width: 992px) {
	#depoimentos .bg-dark{
        background-color: transparent!important;
        padding: 50px 20px 100px 20px!important;
    }
    #depoimentos h2{
        margin-bottom: 40px;
    }
    #depoimentos .media{
        margin-bottom: 60px;
    }
    #depoimentos .media img.img-fluid{
        width: 135px;
        height: 137px;
        margin-right: 30px;
    }
    #depoimentos p{
        font-size: 14px;
        height: initial;
    }

    #depoimentos .btn-slick-carousel-left{
        left: 41%;
    }
    #depoimentos .btn-slick-carousel-right{
        right: 41%;
    }
    
    #depoimentos img.icon-f{
        display: none;
    }
}

@media screen and (max-width: 480px) {
	#depoimentos .bg-dark{
        padding: 50px 15px 100px 15px!important;
    }
    #depoimentos .media{
        margin-bottom: 60px;
        display: block;
    }
    #depoimentos .media img.img-fluid{
        width: 135px;
        height: 137px;
        margin-right: 0px;
        margin-bottom: 28px;
    }
    #depoimentos h3{
        font-size: 35px;
        margin-bottom: 15px;
    }
    #depoimentos p{
        font-size: 16px;
        height: initial;
    }

    #depoimentos .btn-slick-carousel-left{
        left: 34%;
    }
    #depoimentos .btn-slick-carousel-right{
        right: 34%;
    }
    
    #depoimentos img.icon-f{
        display: none;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}