
/* --- centro / estrutura --- */
#estrutura .slide a img{
    /* height: 350px; */
    /* object-fit: cover; */
}
#estrutura .btn-slick-carousel-left,
#estrutura .btn-slick-carousel-right{
    top: 285px;
}
#estrutura .btn-slick-carousel-left,
#estrutura .btn-slick-carousel-right{
    position: absolute;
    top: 420px;
    z-index: 2;
}
#estrutura .btn-slick-carousel-left{
    left: 1.5%;
}
#estrutura .btn-slick-carousel-right{
    right: 1.5%;
}

.ekko-lightbox .modal-content {
    position: relative!important;
}
.ekko-lightbox .modal-header{
    padding: 0!important;
}
.ekko-lightbox h4{
    display: none!important;
}
.ekko-lightbox button.close{
    position: absolute!important;
    right: 0;
    background-color: white;
    line-height: 12px;
    z-index: 2;
    opacity: 1;
    border-radius: 25px;
}
.ekko-lightbox .modal-body{
    padding: 0!important;
    border: 1px solid white;
    overflow: hidden;
}

@media screen and (max-width: 1660px) {
	#estrutura .slide a img{
        height: 310px;
        object-fit: cover;
    }
    #estrutura .btn-slick-carousel-left,
    #estrutura .btn-slick-carousel-right{
        top: 285px;
    }
}

@media screen and (max-width: 1440px) {
    #estrutura .slide a img{
        height: 255px;
        object-fit: cover;
    }
    #estrutura .btn-slick-carousel-left,
    #estrutura .btn-slick-carousel-right{
        top: 230px;
    }
}

@media screen and (max-width: 1200px) {
    #estrutura .slide a img{
        height: 441px;
    }
    #estrutura .btn-slick-carousel-left,
    #estrutura .btn-slick-carousel-right{
        top: 420px;
    }
}

@media screen and (max-width: 992px) {
    #estrutura{
        padding-top: 80px;
    }
    #estrutura h2{
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}