/*import*/
@import url("global.css");
@import url("header-footer.css");
@import url("home-inicio.css");
@import url("home-modalidades.css");
@import url("home-porque-fazer.css");
@import url("home-estrutura.css");
@import url("home-depoimentos.css");
@import url("home-quem-faz.css");

a[href*="index"] {
	color: var(--new-pink)!important;
}
#footer a[href*="index.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-home.png)no-repeat top;
	background-size: cover;
}

/* --- colunas --- */
#inicial .principal{
	height: 100vh;
}
#inicial .coluna-1,
#inicial .coluna-2{
	max-width: 90px;
	width: 100%;
	height: 600px;
	margin-top: auto;
}

#inicial .coluna-1{
	padding: 20px 0 80px 0;
}
#inicial .coluna-1 .h-100{
	display: grid;
	align-content: end;
}
#inicial .coluna-1 p,
#inicial .coluna-1 hr{
	transform: rotate(-90deg);
}
#inicial .coluna-1 p{
	width: 90px;
	margin-left: 0px;
	margin-top: -50px;
}
#inicial .coluna-1 div.bg-white{
	width: 2px;
	height: 200px;
	margin-top: 20px;
	margin-left: 45px;
}
#inicial .redes a img{
	margin-top: 35px;
}

/* --- fundo --- */
#inicial #home-fundo{
	position: absolute;
	width: 100%;
	height: 78px;
	bottom: 0;
	padding-top: 25px;
	padding-left: 45px;
	padding-right: 90px;
}
#inicial #home-fundo .bg-white{
	max-width: 40%;
	width: 100%;
	height: 2px;
	margin-top: 10px;
}
#inicial #home-fundo .links{
	margin-left: -90px;
}
#inicial #home-fundo a{
	color: white;
	text-transform: uppercase;
	font-size: 20px;
	cursor: pointer;
}
#inicial #home-fundo .links a{
	margin-right: 30px;
}
#inicial #home-fundo .spotify{
	position: relative;
	z-index: 1;
}
#inicial #home-fundo .spotify a{
	font-size: 16px;
	cursor: pointer;
}
#inicial #home-fundo .spotify img{
	margin-top: -5px;
}

/* --- centro --- */
#inicial .centro{
	width: 100%;
	margin-top: 100px;
    height: calc(100% - 150px)!important;
	overflow: hidden;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1660px) {
	/* --- colunas --- */
	#inicial .coluna-1,
	#inicial .coluna-2{
		max-width: 60px;
		height: 400px;
	}
	#inicial .coluna-1 p{
		margin-left: -15px;
	}

	#inicial .coluna-1 div.bg-white{
		height: 90px;
		margin-top: 15px;
		margin-left: 30px;
	}
	#inicial .redes{
		max-width: 60px;
	}
	#inicial .redes a img{
		margin-top: 15px;
		max-width: 20px;
	}

	/* --- fundo --- */
	#inicial #home-fundo{
		height: 50px;
		padding-top: 12px;
		padding-left: 30px;
		padding-right: 60px;
	}
	#inicial #home-fundo .bg-white{
		max-width: 25%;
		margin-top: 10px;
	}
	#inicial #home-fundo a{
		font-size: 16px;	
	}
	#inicial #home-fundo .links a{
		margin-right: 30px;
	}
	#inicial #home-fundo .spotify a{
		font-size: 14px;
	}
	#inicial #home-fundo .spotify img{
		margin-top: -3px;
	}

	/* --- centro --- */
	#inicial .centro{
		height: calc(100vh - 50px);
	}
}
@media screen and (min-width: 1201px) and (max-width: 1289px) {
	/* --- fundo --- */
	#inicial #home-fundo .bg-white{
		max-width: 15%;
	}
}

@media screen and (max-width: 1200px) {
	/* --- centro --- */
	#inicial .centro{
		height: auto!important;
		overflow: initial;
	}
}

@media screen and (max-width: 992px) {
	a[href*="index"] {
		color: var(--new-dark)!important;
	}
	
	body{
		background: url(../imagens/bg/bg-home-mobile.png)top center;
		background-size: cover;
	}
}

@media screen and (max-width: 480px) {
	
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}

