/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="modalidades.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="modalidades.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-modalidades.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- modalidades --- */
#modalidades .imagem{
    background-size: cover;
    background-repeat: no-repeat;
    height: 788px;
	box-shadow: 0px 25px 80px #00000050;
}
#modalidades .desc{
	max-width: 614px;
	width: 100%;
	margin-top: 110px;
}
#modalidades h2{
    font-size: 85px;
	margin-bottom: 30px;
}
#modalidades p{
    font-size: 30px;
	line-height: 40px;
	margin-bottom: 0;
	height: 285px;
	padding-right: 10px;
	overflow: auto;
}
#modalidades p::-webkit-scrollbar-track-piece {
	background-color: var(--white);
}
#modalidades p::-webkit-scrollbar-thumb:vertical {
	background-color: var(--new-pink);
}
#modalidades a.btn{
	margin-top: 40px;
    height: 39px;
	font-size: 20px;
}
#modalidades [class*=col-]{
	position: relative;
}
#modalidades .box{
	background-color: #252525;
	position: absolute;
	top: 0px;
	z-index: -1;
}
#modalidades .box-1{
	width: 765px;
	height: 280px;
	left: 0;
}
#modalidades .box-2{
	width: 700px;
	height: 270px;
	right: 0;
}
#modalidades .box-3{
	width: 700px;
	height: 270px;
	left: 0;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- modalidades --- */
	#modalidades .desc{
		margin-top: 130px;
		padding-right: 10px;
	}
	#modalidades h2{
		line-height: 75px;
	}
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

    /* --- modalidades --- */
	#modalidades .desc{
		margin-top: 130px;
		padding-right: 10px;
	}
	#modalidades h2{
		font-size: 60px;
		line-height: 55px;
	}
	#modalidades p{
		font-size: 25px;
		line-height: 35px;
	}
	#modalidades .box{
		display: none;
	}
}

@media screen and (max-width: 992px) {
	a[href*="modalidades"] {
		color: var(--new-dark)!important;
	}
	
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-modalidades-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

    /* --- modalidades --- */
	#modalidades .imagem{
		height: 504px;
	}
	#modalidades .desc{
		max-width: 100%;
		margin-top: 50px;
		margin-bottom: 50px;
		padding-right: 0px;
	}
	#modalidades h2{
		font-size: 60px;
		line-height: 55px;
	}
	#modalidades p{
		font-size: 25px;
		line-height: 35px;
		height: 180px;
	}
}

@media screen and (max-width: 480px) {
	/* --- modalidades --- */
	#modalidades .imagem{
		background-position: center center;
	}
	#modalidades .desc{
		margin-top: 45px;
		margin-bottom: 45px;
	}
	#modalidades h2{
		font-size: 45px;
		line-height: 40px;
	}
	#modalidades p{
		font-size: 25px;
		line-height: 35px;
		height: 280px;
	}
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}