/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="modalidades.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="modalidades.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-modalidades.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- descricao --- */
#descricao{
    margin-top: 103px;
}
#descricao img{
    height: 643px;
    object-fit: cover;
    margin-top: 60px;
    margin-bottom: 90px;
    box-shadow: 0px 25px 80px #00000050;
}
#descricao p{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    margin-bottom: 0;
}

/* --- metodologia --- */
#metodologia{
    margin-top: 130px;
    padding-bottom: 150px;
}
#metodologia .box img{
    height: 128px;
    margin-bottom: 50px;
}
#metodologia .box h2{
    font-size: 35px;   
}
#metodologia .box p{
    font-size: 16px;
    font-family: "Poppins-Regular";
}
#metodologia a.btn{
    margin-top: 110px;
    height: 82px;
    font-size: 42px;
    padding-top: 10px;
}

/* --- perguntas --- */
#perguntas{
    background-color: #353535;
    padding-top: 100px;
    position: relative;
}
#perguntas .imagem{
    position: relative;
    max-width: 658px;
    width: 100%;
    margin-right: 140px;
}
#perguntas .imagem img.img-fluid{
    position: absolute;
    left: 0;
    bottom: 0;
}
#perguntas .desc{
    max-width: 664px;
    width: 100%;
}
#perguntas .accordion{
    margin-top: 50px;
    margin-bottom: 170px;
}
#perguntas .accordion .card{
    background-color: transparent;
    border: 1px solid white!important;
    border-radius: 0px;
    margin-bottom: 22px;
    overflow: hidden;
    transition: .3s;
}
#perguntas .accordion .card-header{
    min-height: 70px;
    height: 100%;
    padding: 16px 15px 0 10px;
    background-color: transparent;
    border-bottom: 0;
    transition: .3s;
}
#perguntas .accordion .float-left{
    max-width: 550px;
    width: 100%;
}
#perguntas .accordion button.font-poppins{
    font-size: 18px;
    text-align: left;
    color: var(--new-pink);
    text-decoration: none;
    margin-bottom: 5px;
    text-transform: initial;
}
#perguntas .accordion button.icon:before{
    content: url(../imagens/logos/icon-seta-2.png);
    filter: brightness(0) invert(1);
}
#perguntas .accordion .card-body{
    margin: 0px 25px 45px 25px;
    padding: 5px 0 0 0;
    transition: .3s;
}
#perguntas .accordion .card-body p{
    font-size: 16px;
    font-family: "Poppins-Regular";
    margin-bottom: 0px;
}
#perguntas .accordion .card-header[aria-expanded="true"] button.icon{
    transform: rotate(180deg)!important;
    transition: .3s;
}
#perguntas .accordion .card-header[aria-expanded="true"] button.icon:before{
    filter: brightness(1) invert(0);
}
#perguntas .accordion .card:hover{
    border: 1px solid var(--new-pink)!important;
    transition: .3s;
}

/* --- outras modalidades --- */
#outras-modalidades{
    margin-top: 114px;
    padding-bottom: 240px;
}
#outras-modalidades .slider{
    margin-top: 80px;
}
#outras-modalidades .box{
    max-width: 360px;
    width: 100%;
}
#outras-modalidades .box img.img-fluid{
    height: 494px;
    margin-bottom: 15px;
    object-fit: cover;
}
#outras-modalidades .box p{
    font-size: 32px;
}
#outras-modalidades .btn-slick-carousel-left,
#outras-modalidades .btn-slick-carousel-right{
    position: absolute;
    bottom: -150px;
    z-index: 1;
}
#outras-modalidades .btn-slick-carousel-left{
    left: 46.5%;
}
#outras-modalidades .btn-slick-carousel-right{
    right: 46.5%;
}

/* --- modal agenda aula --- */
#modal_agenda_aula .modal-lg{
	max-width: 700px!important;
	width: 100%;
}
#modal_agenda_aula .modal-content{
	border-radius: 0!important
}
#modal_agenda_aula .modal-body{
	padding: 0;
	background-color: var(--new-dark);
}
#modal_agenda_aula button{
	position: absolute;
	right: 0;
	margin-top: -25px;
	margin-right: -25px;
	z-index: 2;
	opacity: 1;
}
#modal_agenda_aula .form{
	margin-top: 0px;
	padding: 50px 30px;
}
#modal_agenda_aula h2{
	font-size: 20px;
	margin-bottom: 20px;
}
#modal_agenda_aula select,
#modal_agenda_aula label,
#modal_agenda_aula input{
	height: 43px;
	font-size: 16px;
	background-color: transparent;
	border-radius: 10px;
	padding-left: 20px;
	margin-bottom: 13px;
	color: white;
}
#modal_agenda_aula ::placeholder{
	color: white;
}
#modal_agenda_aula label{
	border: 1px solid #ced4da;
}
#modal_agenda_aula input[type='file'] {
	display: none
}
#modal_agenda_aula label{
	color: white;
	cursor: pointer;
	width: 100%;
	padding-top: 10px;
}
#modal_agenda_aula label .float-right{
	background-color: #707070;
	color: white;
	width: 66px;
	height: 19px;
	text-align: center;
	font-size: 9px;
	margin-right: 25px;
	padding-top: 3px;
	border-radius: 10px;
}
#modal_agenda_aula a.btn{
	font-size: 20px;
}
#modal_agenda_aula .imagem{
	background: url(../imagens/img-contato-01.png)no-repeat center center;
	background-size: cover;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- modalidades --- */
	#modalidades .desc{
		margin-top: 130px;
		padding-right: 10px;
	}
	#modalidades h2{
		line-height: 75px;
	}

    /* --- perguntas --- */
    #perguntas .imagem{
        max-width: 500px;
        margin-right: 100px;
    }

    /* --- outras modalidades --- */
    #outras-modalidades .box{
        max-width: 310px;
    }
    #outras-modalidades .btn-slick-carousel-left{
        left: 45.5%;
    }
    #outras-modalidades .btn-slick-carousel-right{
        right: 45.5%;
    }
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

    /* --- perguntas --- */
    #perguntas .imagem{
        max-width: 280px;
        margin-right: 50px;
    }

    /* --- outras modalidades --- */
    #outras-modalidades .box{
        max-width: 310px;
    }
    #outras-modalidades .btn-slick-carousel-left{
        left: 44%;
    }
    #outras-modalidades .btn-slick-carousel-right{
        right: 44%;
    }

    /* --- modal agenda aula --- */
	#modal_agenda_aula select,
	#modal_agenda_aula label,
	#modal_agenda_aula input{
		margin-bottom: 16px;
	}
}

@media screen and (max-width: 992px) {
	a[href*="modalidades"] {
		color: var(--new-dark)!important;
	}
    
    /* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-modalidades-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

    /* --- descricao --- */
    #descricao{
        margin-top: 45px;
    }
    #descricao h1{
        font-size: 60px;
        line-height: 55px;
    }
    #descricao img{
        height: 290px;
        margin-top: 45px;
        margin-bottom: 45px;
    }
    #descricao p{
        font-size: 30px;
    }

    /* --- metodologia --- */
    #metodologia{
        margin-top: 75px;
        padding-bottom: 90px;
    }
    #metodologia .box{
        margin-bottom: 50px;
    }
    #metodologia a.btn{
        margin-top: 0px;
        height: 70px;
        font-size: 35px;
        padding-top: 10px;
    }

    /* --- perguntas --- */
    #perguntas{
        padding-top: 70px;
    }
    #perguntas .d-flex{
        flex-wrap: wrap;
    }
    #perguntas h2{
        font-size: 56px;
        line-height: 55px;
        text-align: center;
    }
    #perguntas .imagem{
        max-width: 100%;
        margin-right: 0px;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
    }
    #perguntas .imagem img.img-fluid{
        position: relative;
    }
    #perguntas .desc{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #perguntas .accordion{
        margin-bottom: 10px;
    }

    /* --- outras modalidades --- */
    #outras-modalidades{
        margin-top: 65px;
    }
    #outras-modalidades h2{
        font-size: 54px;
        line-height: 55px;
    }
    #outras-modalidades .box{
        max-width: 246px;
    }
    #outras-modalidades .box img.img-fluid{
        height: 332px;
        margin-bottom: 12px;
    }
    #outras-modalidades .box p{
        font-size: 21px;
    }
    #outras-modalidades .btn-slick-carousel-left{
        left: 42%;
    }
    #outras-modalidades .btn-slick-carousel-right{
        right: 42%;
    }

    /* --- modal agenda aula --- */
	#modal_agenda_aula .modal-lg{
		max-width: 400px!important;
	}
	#modal_agenda_aula .modal-content{
		overflow: initial; 
	}
	#modal_agenda_aula .imagem{
		height: 250px;
	}
}

@media screen and (max-width: 480px) {
    /* --- perguntas --- */
    #perguntas .imagem{
        padding-left: 0px;
        padding-right: 0px;
    }
    #perguntas .desc{
        padding-left: 0px;
        padding-right: 0px;
    }
    #perguntas .accordion .float-left{
        max-width: 250px;
    }

    /* --- outras modalidades --- */
    #outras-modalidades{
        padding-bottom: 150px;
    }
    #outras-modalidades .box{
        max-width: 300px;
    }
    #outras-modalidades .btn-slick-carousel-left,
    #outras-modalidades .btn-slick-carousel-right{
        bottom: -80px;
    }
    #outras-modalidades .btn-slick-carousel-left{
        left: 32%;
    }
    #outras-modalidades .btn-slick-carousel-right{
        right: 32%;
    }

    /* --- modal agenda aula --- */
	#modal_agenda_aula .modal-lg{
		max-width: 341px!important;
		margin-top: 30px;
		margin-bottom: 30px;
		margin-left: auto;
		margin-right: auto;
	}
	#modal_agenda_aula .form{
		padding: 40px 35px 40px 35px;
	}
	#modal_agenda_aula h2{
		font-size: 20px;
	}
    #modal_agenda_aula .btn-bg-pink {
        height: 39px;
    }
}

@media screen and (max-width: 400px) {
	#descricao h1,
    #perguntas h2,
    #outras-modalidades h2{
        font-size: 48px;
        line-height: 45px;
    }
    #metodologia a.btn {
        height: 60px;
        font-size: 25px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 350px) {
	#descricao h1,
    #perguntas h2,
    #outras-modalidades h2{
        font-size: 45px;
        line-height: 40px;
    }
}