/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="planos.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
a[href*="planos.html"].aulas {
    color: white!important;
}
a[href*="planos.html"].aulas:hover {
    color: var(--new-pink)!important;
}
#footer a[href*="planos.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-planos.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- planos --- */
#planos{
    margin-bottom: 230px;
}
#planos .desc h1{
    text-align: center;
    margin-bottom: 38px;
}
#planos .desc p{
    font-size: 16px;
    font-family: "Poppins-Regular";
    margin-bottom: 0;
}
#planos .box{
    max-width: 268px;
    background-color: #252525;
    /* box-shadow: 0px 25px 80px #00000050; */
    border: 1px solid transparent;
    transition: .3s;
    max-height: 677px;
    height: 100%;
}
#planos .box:hover{
    transform: translate(0, 45px);
    /* margin-top: 45px; */
    background-color: #191919;
    box-shadow: 0px 15px 30px var(--new-pink);
    border: 1px solid var(--new-pink);
    transition: .3s;
}
#planos .box .text-center{
    padding: 60px 50px 10px 50px;
    text-transform: uppercase;
}
#planos .box .text-center p.text-white{
    font-size: 32px;
    margin-bottom: 1px;
}
#planos .box .text-center h2{
    font-size: 56px;
    margin-bottom: 0;
}
#planos .box .text-center p.text-pink{
    font-size: 32px;
    margin-top: -10px;
    margin-bottom: 0;
    margin-right: -15px;
}
#planos .box hr{
    opacity: .4;
}
#planos .box .desc{
    padding: 40px 17px 20px;
}
#planos .box .desc ul{
    padding: 0;
    list-style-type: none;
    margin-bottom: 30px;
}
#planos .box .desc li{
    margin-bottom: 25px;
}
#planos .box .desc p{
    color: white;
    font-size: 16px;
    font-family: "Poppins-Regular";
}
#planos .box .links{
    opacity: 0;
    transition: .3s;
}
#planos .box:hover .links{
    opacity: 1;
    transition: .3s;
}
#planos .box .links .btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 180px;
    height: 37px;
    font-size: 20px;
    font-family: "ChosenceRegular";
    padding-top: 2px;
    margin-bottom: 12px;
    padding-left: 0;
    padding-right: 0;
}
#planos .box .links .btn-bg-transparent{
    border: 1px solid var(--new-pink);
    background-color: #252525;
    border-radius: 0;
    color: white;
    z-index: 2;
    position: relative;
}

#planos .box .links .exclusivo .desc{
    display: none;
    background-color: #252525;
    border: 1px solid var(--new-pink);
    width: 313px;
    padding: 50px 25px 40px;
    position: relative;
    margin-top: -30px;
    margin-left: -40px;
}
#planos .box .links .exclusivo:hover .desc{
    display: block;
}
#planos .box .links .exclusivo .desc p{
    font-size: 16px;
    font-family: "Poppins-Regular";
    margin-bottom: 20px;
}

/* --- voce --- */
#voce{
    position: relative;
    z-index: -1;
    margin-bottom: 90px;
}
#voce h2{
    position: relative;
    margin-left: -220px;
    width: 850px;
    margin-bottom: 60px;
}
#voce ul{
    list-style-type: none;
    padding: 0;
}
#voce li{
    margin-bottom: 30px;
}
#voce p.text-pink{
    font-size: 35px;
    margin-bottom: 20px;
}
#voce p.text-pink img{
    margin-right: 38px;
}
#voce p.text-white{
    font-size: 16px;
    margin-bottom: 0;
    font-family: "Poppins-Regular";
}

/* --- perguntas --- */
#perguntas{
    background-color: #353535;
    padding-top: 117px;
    position: relative;
    margin-bottom: -15px;
}
#perguntas .desc{
    max-width: 664px;
    width: 100%;
    margin-left: 350px;
    z-index: 2;
}
#perguntas .accordion{
    margin-top: 50px;
    margin-bottom: 170px;
}
#perguntas .accordion .card{
    background-color: transparent;
    border: 1px solid white!important;
    border-radius: 0px;
    margin-bottom: 22px;
    overflow: hidden;
    transition: .3s;
}
#perguntas .accordion .card-header{
    min-height: 70px;
    height: 100%;
    padding: 16px 15px 0 10px;
    background-color: transparent;
    border-bottom: 0;
    transition: .3s;
}
#perguntas .accordion .float-left{
    max-width: 550px;
    width: 100%;
}
#perguntas .accordion button.font-poppins{
    font-size: 18px;
    text-align: left;
    color: var(--new-pink);
    text-decoration: none;
    margin-bottom: 5px;
    text-transform: initial;
}
#perguntas .accordion button.icon:before{
    content: url(../imagens/logos/icon-seta-2.png);
    filter: brightness(0) invert(1);
}
#perguntas .accordion .card-body{
    margin: 0px 25px 45px 25px;
    padding: 5px 0 0 0;
    transition: .3s;
}
#perguntas .accordion .card-body p{
    font-size: 16px;
    font-family: "Poppins-Regular";
    margin-bottom: 0px;
}
#perguntas .accordion .card-header[aria-expanded="true"] button.icon{
    transform: rotate(180deg)!important;
    transition: .3s;
}
#perguntas .accordion .card-header[aria-expanded="true"] button.icon:before{
    filter: brightness(1) invert(0);
}
#perguntas .accordion .card:hover{
    border: 1px solid var(--new-pink)!important;
    transition: .3s;
}
#perguntas .imagem{
    margin-left: -190px;
    margin-bottom: -50px;
    margin-top: 45px;
    z-index: 1;
    overflow: hidden;
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- voce --- */
    #voce h2{
        margin-left: -170px;
        width: 550px;
    }

    /* --- perguntas --- */
    #perguntas .desc{
        margin-left: 100px;
    }
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

    /* --- planos --- */
    #planos{
        margin-top: 50px;
    }
    #planos .desc p{
        margin-bottom: 50px;
    }
    #planos .box{
        margin-left: 10px;
        margin-right: 10px;
        max-height: 650px;
    }
    #planos .box:hover{
        transform: translate(0, 0px);
    }
    #planos .box .desc li{
        margin-bottom: 20px;
    }
    #planos .box .desc p{
        margin-bottom: 0;
    }

    /* --- perguntas --- */
    #perguntas .desc{
        margin-left: 15px;
    }
    #perguntas .imagem{
        margin-left: -280px;
    }
}

@media screen and (max-width: 992px) {
	a[href*="planos"] {
		color: var(--new-dark)!important;
	}
    
    /* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-planos-mobile.png)no-repeat top center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

    /* --- planos --- */
    #planos{
        margin-top: 40px;
        margin-bottom: 60px;
    }
    #planos .desc h1{
        margin-bottom: 20px;
    }
    #planos .desc p{
        margin-bottom: 40px;
    }
    #planos .box{
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 45px;
        max-height: 650px;
    }

    /* --- voce --- */
    #voce{
        margin-bottom: 60px;
    }
    #voce img.img-voce{
        width: 100%;
    }
    #voce h2{
        margin-left: -5px;
        width: 100%;
        margin-top: 50px;
    }

    /* --- imagem-destaque --- */
    .imagem-destaque{
        display: none;
    }

    /* --- perguntas --- */
    #perguntas{
        padding-top: 70px;
    }
    #perguntas .desc {
        margin-left: 0px;
    }
    #perguntas .d-flex{
        flex-wrap: wrap;
    }
    #perguntas h2{
        font-size: 56px;
        line-height: 55px;
        text-align: center;
    }
    #perguntas .desc{
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }
    #perguntas .accordion{
        margin-bottom: 10px;
    }

    #perguntas .imagem{
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-bottom: -25px;
    }
    #perguntas .imagem img{
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    /* --- planos --- */
    #planos .desc p{
        margin-bottom: 40px;
    }
    #planos .box{
        margin-left: 0px;
        margin-right: 0px;
        /* max-height: 650px; */
    }
    #planos .box .text-center{
        /* padding: 60px 50px 10px 50px; */
    }
    #planos .box .desc{
        /* padding: 40px 17px 20px; */
    }
    #planos hr{
        display: none;
    }

    /* --- voce --- */
    #voce{
        margin-bottom: 60px;
    }
    #voce h2{
        font-size: 56px;
        /* margin-bottom: 60px; */
    }
    
    /* --- perguntas --- */
    #perguntas{
        padding-top: 40px;
    }
    #perguntas h2{
        font-size: 45px;
        line-height: 45px;
        letter-spacing: -5px;
    }
    #perguntas .desc{
        padding-left: 0px;
        padding-right: 0px;
    }
    #perguntas .accordion .float-left{
        max-width: 250px;
    }
    #perguntas .imagem{
        margin-bottom: -5px;
    }
}

@media screen and (max-width: 400px) {
	
}

@media screen and (max-width: 350px) {
	
}