/*import*/
@import url("global.css");
@import url("header-footer.css");

a[href*="sobre.html"] {
	color: var(--new-pink)!important;
	border-bottom: 1px solid var(--new-pink);
	padding-bottom: 0;
}
#footer a[href*="sobre.html"] {
	color: #191919!important;
}
body{
	background: url(../imagens/bg/bg-body.png)no-repeat center center;
	background-size: cover;
}

/* --- header --- */
header{
	margin-top: 0;
	padding-top: 15px;
	background-color: #00000050;
	height: 89px;
}
header a.navbar-brand img {
    width: initial;
	padding-left: 30px;
	padding-right: 30px;
}
header hr{
	display: none;
}
header li.nav-item{
	margin-left: 10px;
	margin-right: 10px;
}
header a.aulas {
    margin-right: 90px;
}

/* --- banner --- */
#banner{
	background: url(../imagens/banners/banner-sobre.png)no-repeat center center;
	background-size: cover;
	height: 330px;
	position: relative;
	z-index: -1;
}
#banner .icon-boxing{
	position: absolute;
	right: 0;
	bottom: -110px;
	overflow: hidden;
}
#banner .icon-boxing img{
	max-width: 224px;
	margin-right: 200px;
}

/* --- descricao --- */
#descricao{
	padding-top: 130px;
	padding-bottom: 133px;
}
#descricao img.img-fluid{
	margin-left: -70px;
}
#descricao h1{
	margin-bottom: 40px;
}
#descricao p{
	font-size: 30px;
	line-height: 35px;
	margin-bottom: 0;
}

/* --- historia --- */
#historia{
	padding-bottom: 30px;
}
#historia h2{
	margin-bottom: 112px;
}
#historia hr.bg-pink{
	position: relative;
	top: 70px;
}
#historia .slick-track{
	padding-bottom: 90px;
}
#historia .slider-nav{
	max-width: 1330px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#historia .slider-nav .ano p{
	width: 174px;
	height: 100px;
	font-size: 50px;
	padding-top: 15px;
	text-align: center;
	margin-bottom: 0;
	margin-left: auto;
	margin-right: auto;
	color: var(--new-pink);
	font-family: "Nostromo";
	background-color: #191919;
	border: 1px solid var(--new-pink);
	letter-spacing: -5px;
	transition: .3s;
}
#historia .slider-nav .slick-current.slick-active .ano p{
	color: white;
	background-color: var(--new-pink);
	height: 100px;
	transition: .3s;
}
#historia .carousel-historia .desc{
	max-width: 1210px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#historia .carousel-historia .desc p{
	font-size: 16px;
	color: white;
	font-family: "Poppins-Regular";
}
#historia .carousel-historia .desc img{
	width: 462px;
	height: 310px;
	object-fit: cover;
}
#historia .btn-slick-carousel-left,
#historia .btn-slick-carousel-right{
    position: absolute;
    top: 35px;
    z-index: 2;
    max-width: 40px;
}
#historia .btn-slick-carousel-left{
    left: 0%;
}
#historia .btn-slick-carousel-right{
    right: 0%;
}

/* --- estrutura --- */
#estrutura{
	background: url(../imagens/bg/bg-sobre-estrutura.png)no-repeat center center;
	background-size: cover;
	padding-top: 120px;
	padding-bottom: 130px;
}
#estrutura h2{
	margin-bottom: 90px;
}
#estrutura .row{
	max-width: 1434px;
	width: 100%;
}
#estrutura .row img{
	width: 100%;
}
#estrutura .row .img-1 img{
	height: 811px;
	object-fit: cover;
}
#estrutura .row .img-2 img{
	height: 370px;
	object-fit: cover;
}
#estrutura .row .img-3 img{
	height: 441px;
	object-fit: cover;
}
#estrutura .row .img-4 img{
	height: 441px;
	object-fit: cover;
}
#estrutura .row .img-5 img{
	height: 370px;
	object-fit: cover;
}

/* --- por-que --- */
#por-que{
	background-color: #353535;
	padding-top: 100px;
	padding-bottom: 10px;
	position: relative;
}
#por-que img.img-destaque{
	position: absolute;
	top: -200px;
	left: 50px;
}
#por-que .desc{
	max-width: 933px;
	margin-left: auto;
	margin-bottom: 220px;
}
#por-que .desc h2{
	margin-bottom: 60px;
}
#por-que .desc p{
	font-family: "Poppins-Regular";
	color: white;
}
#por-que h3{
	position: relative;
	bottom: -10px;
	margin-bottom: 0;
}
#por-que .row{
	margin-bottom: 85px;
}
#por-que .row img{
	width: 490px;
	height: 504px;
	object-fit: cover;
}
#por-que .row h4{
	font-size: 75px;
	margin-bottom: 50px;
	letter-spacing: -8px;
}
#por-que .row p{
	font-size: 16px;
	color: white;
	font-family: "Poppins-Regular";
}

@media screen and (max-width: 1660px) {
	
}

@media screen and (max-width: 1440px) {
	/* --- header --- */
	header a.aulas {
		margin-right: 5px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}

	/* --- por-que --- */
	#por-que img.img-destaque{
		left: 0px;
	}
	#por-que .desc{
		max-width: 833px;
	}	
}

@media screen and (max-width: 1200px) {
	/* --- header --- */
	header a.navbar-brand img {
		padding-left: 5px;
		padding-right: 5px;
		max-width: 300px;
	}
	header li.nav-item{
		margin-left: 0px;
		margin-right: 0px;
	}
	header a.aulas {
		margin-right: 5px;
		padding-left: 8px;
		padding-right: 8px;
	}

	/* --- banner --- */
	#banner .icon-boxing img{
		margin-right: -70px;
	}
		
	/* --- descricao --- */
	#descricao img.img-fluid{
		margin-left: 0px;
	}

	/* --- por-que --- */
	#por-que img.img-destaque{
		left: 0px;
	}
	#por-que .desc{
		max-width: 550px;
	}
}

@media screen and (max-width: 992px) {
	a[href*="sobre"] {
		color: var(--new-dark)!important;
	}
	
	/* --- header --- */
	header a.navbar-brand img {
		max-width: initial;
	}

	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre-mobile.png)no-repeat center center;
		background-size: cover;
		height: 390px;
	}
	#banner .icon-boxing{
		display: none;
	}

	/* --- descricao --- */
	#descricao img.img-fluid{
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 30px;
	}

	/* --- historia --- */
	#historia .carousel-historia .desc img{
		margin-top: 30px;
		width: 100%;
		height: 310px;
	}
	#historia .btn-slick-carousel-left,
	#historia .btn-slick-carousel-right{
		top: 35px;
	}

	/* --- estrutura --- */
	#estrutura .row img{
		height: 250px!important;
	}
	
	/* --- por-que --- */
	#por-que{
		padding-top: 0px;
	}
	#por-que img.img-destaque{
		position: relative;
		top: -60px;
		left: 0px;
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 70px;
	}
	#por-que .desc{
		max-width: 100%;
		margin-bottom: 60px;
	}
	#por-que .desc h2{
		text-align: center;
	}
	#por-que h3{
		bottom: -8px;
		left: 5px;
	}
	#por-que .row{
		margin-bottom: 50px;
	}
	#por-que .row img{
		width: 167px;
		height: 172px;
		margin-bottom: 20px;
	}
	#por-que .row h4{
		font-size: 25px;
		line-height: 25px;
		margin-bottom: 20px;
		letter-spacing: -2px;
	}
}

@media screen and (max-width: 480px) {
	/* --- banner --- */
	#banner{
		background: url(../imagens/banners/banner-sobre-mobile.png)no-repeat top center;
		background-size: cover;
	}

	/* --- descricao --- */
	#descricao{
		padding-top: 50px;
		padding-bottom: 70px;
	}
	#descricao img.img-fluid{
		margin-left: 0px;
	}
	#descricao p{
		line-height: 38px;
	}

	/* --- estrutura --- */
	#estrutura{
		padding-top: 85px;
		padding-bottom: 30px;
	}
	#estrutura h2{
		margin-bottom: 60px;
	}
		
	/* --- por-que --- */
	#por-que img.img-destaque{
		padding-left: 20px;
		padding-right: 20px;
	}
	#por-que h3{
		font-size: 40px;
		left: 0px;
	}
	#por-que .row p{
		line-height: 20px;
	}	
}

@media screen and (max-width: 400px) {
		
}