<aside class="col-12 col-md col-lg aside d-none d-lg-block">
	<div class="acessos">
		<div class="bg-pink">
			<h5 class="categorias text-white">Categorias</h5>
			<ul class="list pl-0 mb-0">
				<li>
					<a href="#" title="Categoria 01">Categoria 01</a>
				</li>
				<li>
					<a href="#" title="Categoria 02">Categoria 02</a>
				</li>
				<li>
					<a href="#" title="Categoria 03">Categoria 03</a>
				</li>
				<li>
					<a href="#" title="Categoria 04">Categoria 04</a>
				</li>
				<li>
					<a href="#" title="Categoria 05">Categoria 05</a>
				</li>
				<li>
					<a href="#" title="Categoria 06">Categoria 06</a>
				</li>
				<li>
					<a href="#" title="Categoria 07">Categoria 07</a>
				</li>
			</ul>
		</div>
		
		<div class="bg-dark-2">
			<div class="arquivos">
				<h5 class="text-white">Arquivos</h5>
				<ul class="list pl-0 mb-0">
					<li>
						<a href="#" title="Janeiro">Janeiro 2020 (04)</a>
					</li>
					<li>
						<a href="#" title="Fevereiro">Fevereiro 2020 (02)</a>
					</li>
					<li>
						<a href="#" title="Março">Março 2020 (05)</a>
					</li>
					<li>
						<a href="#" title="Abril">Abril 2020 (07)</a>
					</li>
					<li>
						<a href="#" title="Maio">Maio 2020 (02)</a>
					</li>
					<li>
						<a href="#" title="Junho">Junho 2020 (0)</a>
					</li>
					<li>
						<a href="#" title="Julho">Julho 2020 (02)</a>
					</li>
					<li>
						<a href="#" title="Agosto">Agosto 2020 (04)</a>
					</li>
					<li>
						<a href="#" title="Setembro">Setembro 2020 (06)</a>
					</li>
					<li>
						<a href="#" title="Outubro">Outubro 2020 (20)</a>
					</li>
					<li>
						<a href="#" title="Novembro">Novembro 2020 (14)</a>
					</li>
					<li>
						<a href="#" title="Dezembro">Dezembro 2020 (1)</a>
					</li>
				</ul>
			</div>
		</div>

		<div class="bg-pink">
			<h5 class="lidos text-white">Mais lidas</h5>
			<ul class="list pl-0 mb-0">
				<li>
					<a href="#">
						<p class="mb-0"><strong>Lorem Ipsum Brasil</strong></p>
						<small>29/10/2020</small>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="mb-0"><strong>Lorem Ipsum Brasil</strong></p>
						<small>29/10/2020</small>
					</a>
				</li>
				<li>
					<a href="#">
						<p class="mb-0"><strong>Lorem Ipsum Brasil</strong></p>
						<small>29/10/2020</small>
					</a>
				</li>
			</ul>
		</div>

		<div id="coluna-imagens">
			<img src="imagens/img-aside.png" class="img-fluid">
			<img src="imagens/logos/icon-f.png" class="img-fluid img-2">
		</div>
	</div>
</aside>

<script>
	$('.menu-lateral').click(function() {
	    $('.aside').toggleClass('d-none');
	});
	// $('.icon-close').click(function() {
	//     $('.aside').toggleClass('d-none');
	// });
</script>