<div class="footer">
	<div class="row mx-auto text-center align-items-center">
		<div class="col-lg-4 order-2 order-lg-1 d-none d-lg-block">
			<h3>Certificados</h3>
			<a href="#" class="btn">fazer download agora <img src="imagens/logos/icon-download.png" class="ml-1"></a>
		</div>
		<div class="col-lg-4 order-1 order-lg-2">
			<img src="imagens/logos/logo-footer.png" alt="Logo" class="img-fluid logo">
		</div>
		<div class="col-12 col-lg-4 order-4 order-lg-3 mb-4 mb-lg-0">
			<h3>Nos acompanhe</h3>
			<div class="redes">
				<a href="#">
					<img src="imagens/logos/icon-facebook.png" alt="facebook">
				</a>
				<a href="#" class="mx-3">
					<img src="imagens/logos/icon-instagram.png" alt="instagram">
				</a>
				<a href="#">
					<img src="imagens/logos/icon-whatsapp.png" alt="whatsapp">
				</a>
			</div>
		</div>
		<div class="col-6 col-lg-12 order-3 order-lg-4 d-none d-lg-block">
			<div class="menu">
				<a href="index.html">Home</a>
				<a href="sobre.html">Sobre</a>
				<a href="modalidades.html">Modalidades</a>
				<a href="planos.html">Planos</a>
				<a href="convenios.html">Convenios</a>
				<a href="contato.html">Contato</a>
			</div>
		</div>
	</div>
</div>