<!-- navegacao -->
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg justify-content-between px-0">
        <div class="navbar-collapse collapse dual-nav w-100 order-1 order-lg-0 pt-2 pt-lg-0">
            <hr class="bg-pink mr-auto ml-0">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="index.html" class="nav-link d-md-inline-block">Home</a>
                </li>
                <li class="nav-item">
                    <a href="sobre.html" class="nav-link d-md-inline-block">Sobre</a>
                </li>
                <li class="nav-item">
                    <a href="modalidades.html" class="nav-link d-md-inline-block">Modalidades</a>
                </li>
            </ul>
        </div>
        <a href="index.html" class="navbar-brand mx-lg-auto d-block text-center order-0 order-lg-1">
            <img src="imagens/logos/logo.png" alt="Foreman" class="d-inline-block">
        </a>
        <div class="navbar-collapse collapse dual-nav w-100 order-2 pb-2 pb-lg-0">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="planos.html" class="nav-link d-md-inline-block">Planos</a>
                </li>
                <li class="nav-item">
                    <a href="convenios.html" class="nav-link d-md-inline-block">Convênios</a>
                </li>
                <li class="nav-item">
                    <a href="contato.html" class="nav-link d-md-inline-block">Contato</a>
                </li>
                <li class="nav-item d-block d-lg-none">
                    <a href="blog.html" class="nav-link d-md-inline-block">Blog</a>
                </li>
            </ul>
            <hr class="bg-pink ml-auto mr-0">
            <div class="">
                <a href="planos.html" class="aulas nav-link d-md-inline-block">Aulas Online</a>
            </div>

            <ul class="nav navbar-nav d-block d-lg-none">
                <li class="nav-item">
                    <a href="#" class="">
                        <img src="imagens/logos/icon-facebook.png" alt="facebook">
                    </a>
                    <a href="#" class="">
                        <img src="imagens/logos/icon-instagram.png" alt="instagram">
                    </a>
                    <a href="#" class="">
                        <img src="imagens/logos/icon-whatsapp.png" alt="whatsapp">
                    </a>
                </li>
            </ul>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-nav">
            <!-- <span class="navbar-toggler-icon"></span> -->
            <img src="imagens/logos/icon-menu.png" alt="Menu">
        </button>
	</nav>
</div>



