<div class="container px-xl-0">
    <div class="d-flex justify-content-between">
        <div class="spotify">
            <a href="https://www.spotify.com/br/" target="_blank" rel="nofollow" class="font-poppins">
                <img src="imagens/logos/icon-spotify.png" alt="Spotify">
                Ouça nossa playlist
                <img src="imagens/logos/icon-seta.png" class="ml-1">
            </a>
        </div>

        <div class="redes d-none d-lg-block">
            <a href="#" class="">
                <img src="imagens/logos/icon-facebook.png" alt="facebook">
            </a>
            <a href="#" class="">
                <img src="imagens/logos/icon-instagram.png" alt="instagram">
            </a>
            <a href="#" class="">
                <img src="imagens/logos/icon-whatsapp.png" alt="whatsapp">
            </a>
            <a href="blog.html" class="ml-2" style="color: white!important;">Blog</a>
        </div>
    </div>
</div>