<div class="d-flex justify-content-between">
    <div class="bg-white d-inline-block"></div>
    <div class="links font-regular">
        <a class="lnk" id="link-2" href="#modalidades">nossas modalidades</a>
        <a class="lnk" id="link-3" href="#porque-fazer">Porque fazer?</a>
        <a class="lnk" id="link-4" href="#estrutura">veja a estrutura</a>
        <a class="lnk" id="link-5" href="#depoimentos">depoimentos</a>
        <a class="lnk" id="link-6" href="#quem-faz">quem faz?</a>
    </div>
    <div class="spotify">
        <a href="https://www.spotify.com/br/" target="_blank" rel="nofollow" class="font-poppins">
            <img src="imagens/logos/icon-spotify.png" alt="Spotify">
            Ouça nossa playlist
            <img src="imagens/logos/icon-seta.png">
        </a>
    </div>
</div>